# **Projet Python 2A**

***Section 1 - Manipuler les données***

On commence par importer notre base de données principale, celle contenant les différents équipements sportifs en France.
Nous en obtenons un rapide aperçu ci-dessous.

In [13]:
import pandas as pd

equipements = pd.read_csv("https://minio.lab.sspcloud.fr/juleschpn/equipments.csv", sep=';', encoding='latin-1', low_memory=False)
equipements.head()

,DepCode,DepLib,ComInsee,ComLib,InsNumeroInstall,InsNom,EquipementId,EquNom,EquipementTypeCode,EquipementTypeLib,...,EquUtilClub,EquUtilAutre,EquUtilIndividuel,EquUtilPerformance,EquUtilFormation,EquUtilRecreation,EquDateDernierTravauxReal,EquDateDernierTravauxAucun,EquGPSX,EquGPSY
0,01,Ain,01001,Abergement-Clémenciat,I010010003,Salle Polyvalente - Boulodromes,E001I010010003,SALLE POLYVALENTE,2201,Salles polyvalentes / des fêtes / non spéciali...,...,1,1,1,0,0,1,NaN,1.0,"4,9206","46,1531"
1,01,Ain,01001,Abergement-Clémenciat,I010010003,Salle Polyvalente - Boulodromes,E002I010010003,BOULODROME COUVERT 8 JEUX,201,Terrain de boules,...,1,0,0,0,0,1,NaN,1.0,"4,9206","46,1531"
2,01,Ain,01001,Abergement-Clémenciat,I010010003,Salle Polyvalente - Boulodromes,E003I010010003,BOULODROME EXTERIEUR,201,Terrain de boules,...,1,0,1,0,0,1,NaN,1.0,"4,9206","46,1531"
3,01,Ain,01001,Abergement-Clémenciat,I010010004,Espace Multi-Activites,E001I010010004,Terrain de Foot de Proximité,2802,Terrain de football,...,0,0,1,0,0,1,NaN,1.0,"4,9247","46,1511"
4,01,Ain,01001,Abergement-Clémenciat,I010010004,Espace Multi-Activites,E002I010010004,AGORESPACE,1701,Plateau EPS/Multisports/city-stades,...,0,0,1,0,0,1,NaN,1.0,"4,9242","46,1508"

Commençons par réaliser quelques statistiques descriptives, afin de vérifier si la base de données est cohérente et exhaustive.

In [14]:
equipements.count()

DepCode                            318037
DepLib                             318037
ComInsee                           318037
ComLib                             318037
InsNumeroInstall                   318037
InsNom                             315472
EquipementId                       318037
EquNom                             318037
EquipementTypeCode                 318037
EquipementTypeLib                  318037
EquipementFamille                  318037
EquipementCateg                    318037
GestionTypeProprietairePrincLib    314826
GestionTypeGestionnairePrincLib    313934
GestionTypeProprietaireSecLib       53021
GestionTypeGestionnaireSecLib       26242
EquAnneeService                    202275
NatureSolLib                       313302
NatureLibelle                      314948
EquUtilScolaire                    318037
EquUtilClub                        318037
EquUtilAutre                       318037
EquUtilIndividuel                  318037
EquUtilPerformance                 318037
EquUtilFormation                   318037
EquUtilRecreation                  318037
EquDateDernierTravauxReal           71365
EquDateDernierTravauxAucun         315292
EquGPSX                            315381
EquGPSY                            315386
dtype: int64

In [15]:
equipements.nunique()

DepCode                               107
DepLib                                107
ComInsee                            28458
ComLib                              26784
InsNumeroInstall                   139953
InsNom                              78767
EquipementId                       318037
EquNom                             114650
EquipementTypeCode                    163
EquipementTypeLib                     163
EquipementFamille                      30
EquipementCateg                         7
GestionTypeProprietairePrincLib        12
GestionTypeGestionnairePrincLib        12
GestionTypeProprietaireSecLib          12
GestionTypeGestionnaireSecLib          12
EquAnneeService                       203
NatureSolLib                           16
NatureLibelle                           7
EquUtilScolaire                         2
EquUtilClub                             2
EquUtilAutre                            2
EquUtilIndividuel                       2
EquUtilPerformance                      2
EquUtilFormation                        2
EquUtilRecreation                       2
EquDateDernierTravauxReal              64
EquDateDernierTravauxAucun              2
EquGPSX                            220366
EquGPSY                            210679
dtype: int64

In [33]:
equipements_departements = pd.DataFrame(equipements.groupby('DepCode')['EquipementId'].count())
equipements_departements = equipements_departements.rename({"EquipementId":"NbreEquipements"}, axis=1)
equipements_departements.tail(25)

         NbreEquipements
DepCode
82                  2018
83                  3829
84                  2592
85                  3965
86                  2538
87                  2298
88                  2465
89                  2042
90                   837
91                  4280
92                  3457
93                  2594
94                  2781
95                  3672
971                 1232
972                 1015
973                  797
974                 2879
975                   37
976                  313
977                   16
978                   27
986                   68
987                  991
988                 1190

In [18]:
equipements_departements.describe()

count     107.000000
mean     2972.308411
std      1669.868396
min        16.000000
25%      1771.500000
50%      2738.000000
75%      3824.500000
max      8534.000000
Name: EquipementId, dtype: float64

In [27]:
population = pd.read_csv("https://minio.lab.sspcloud.fr/juleschpn/Population2019.CSV", sep=';', low_memory=False)
population.head()

,CODGEO,P19_POP,P13_POP,P08_POP,D99_POP,D90_POP,D82_POP,D75_POP,D68_POP,SUPERF,...,D75_LOGVAC,D68_LOGVAC,P19_PMEN,P13_PMEN,P08_PMEN,D99_PMEN,D90_NPER_RP,D82_NPER_RP,D75_NPER_RP,D68_NPER_RP
0,01001,779,767,791,728,579,477,368,347,15.95,...,22.0,25.0,779.000000,767.000000,791.000000,728,579,477.0,368.0,347.0
1,01002,256,236,194,168,159,136,106,88,9.15,...,23.0,1.0,256.000000,236.000000,194.000000,168,159,136.0,106.0,88.0
2,01004,14134,14359,12792,11436,10455,9737,9550,8949,24.60,...,246.0,155.0,13625.012669,13831.019385,12305.616156,11015,10092,9333.0,9164.0,8582.0
3,01005,1751,1635,1567,1408,1156,848,756,627,15.92,...,16.0,15.0,1751.000000,1635.000000,1567.000000,1406,1155,848.0,753.0,627.0
4,01006,112,108,123,86,76,65,82,108,5.88,...,13.0,8.0,112.000000,108.000000,123.000000,86,76,65.0,82.0,108.0

In [39]:
population['DepCode'] = population['CODGEO'].str[:2]

population_departements = pd.DataFrame(population.groupby('DepCode')['P19_POP'].sum())
population_departements = population_departements.rename({"P19_POP":"Population"}, axis=1)
population_departements.head(25)

         Population
DepCode
01           652432
02           531345
03           335975
04           164308
05           141220
06          1094283
07           328278
08           270582
09           153287
10           310242
11           374070
12           279595
13          2913841
14           694905
15           144692
16           352015
17           651358
18           302306
19           240073
21           534124
22           600582
23           116617
24           413223
25           543974
26           516762

In [44]:
equipements_departements.merge(population_departements, how = 'outer', indicator=True)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False